name: release-and-publish
on:
  push:
    branches:
      - main

jobs:
  release:
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          command: manifest

  # https://github.com/google-github-actions/release-please-action#automating-publication-to-npm
  upload-package:
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    steps:
      - uses: actions/checkout@v5
      - uses: nodenv/actions/node-version@main
        id: nodenv
      - name: Use Node.js ${{ steps.nodenv.outputs.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: "${{ steps.nodenv.outputs.node-version }}"
          registry-url: 'https://registry.npmjs.org'
      - run: yarn install --frozen-lockfile
      - run: yarn package:all
      - run: echo "::set-output name=pkg_version::$(jq -r '.version' ./package.json)"
        id: pkg_version
      - name: Upload package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mv \
            ./web-ext-artifacts/chrome/calmoon_for_garoon-${{ steps.pkg_version.outputs.pkg_version }}.zip \
            ./web-ext-artifacts/chrome/calmoon_for_garoon-${{ steps.pkg_version.outputs.pkg_version }}-chrome.zip
          mv \
            ./web-ext-artifacts/firefox/calmoon_for_garoon-${{ steps.pkg_version.outputs.pkg_version }}.zip \
            ./web-ext-artifacts/firefox/calmoon_for_garoon-${{ steps.pkg_version.outputs.pkg_version }}-firefox.zip
          gh release upload ${{ needs.release.outputs.tag_name }} \
          ./web-ext-artifacts/chrome/calmoon_for_garoon-${{ steps.pkg_version.outputs.pkg_version }}-chrome.zip \
          ./web-ext-artifacts/firefox/calmoon_for_garoon-${{ steps.pkg_version.outputs.pkg_version }}-firefox.zip
